.topbar {
  width: 100%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  /* justify-items: space-between; */
  
}
.topbar img {
  width: 175px;
  align-self: center;
  /* margin-left: 25px; */
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
}
.logout__icon {
  /* float: right; */
  /* margin: 25px; */
  color: var(--primary-color);
}
.topbar-title {
  align-self: center;
  /* margin-top: 10px; */
  color: var(--secondary-color);
  text-transform: uppercase;
}
.icon {
  cursor: pointer;
  align-self: center;
}

